In [1]:
import pandas as pd
import numpy as np
import glob

In [9]:
top_dir = "/datawaha/esom/DatePalmCounting/Geoportal/Sensors/SensorReads"
files = glob.glob(f"{top_dir}/*.csv")

In [13]:
for file in files:
    df = pd.read_csv(file)
    print(f"Processing file: {file} with shape {df.shape}")
    # Add your preprocessing steps here
    # get the soil moisture for zoot zone
    # if A(all) in df.columns drop it 
    if 'A(all)' in df.columns:
        df = df.drop(columns=['A(all)'])
    # find all columns that contains "A"
    a_columns = [col for col in df.columns if 'A' in col]
    # calculate the sum of these columns row-wise and divide by 9
    df['soil_moisture_root_zone'] = df[a_columns].sum(axis=1) / 9
    # now get the daily average soil moisture
    # save to the same dataframe
    df.to_csv(file.replace('.csv','_v2.csv'), index=False)
    #

Processing file: /datawaha/esom/DatePalmCounting/Geoportal/Sensors/SensorReads/DD091529.csv with shape (8784, 31)
Processing file: /datawaha/esom/DatePalmCounting/Geoportal/Sensors/SensorReads/DD091526.csv with shape (8783, 30)
Processing file: /datawaha/esom/DatePalmCounting/Geoportal/Sensors/SensorReads/DD091537.csv with shape (8784, 31)
Processing file: /datawaha/esom/DatePalmCounting/Geoportal/Sensors/SensorReads/DD091653.csv with shape (8784, 30)
Processing file: /datawaha/esom/DatePalmCounting/Geoportal/Sensors/SensorReads/DD091527.csv with shape (8784, 31)
Processing file: /datawaha/esom/DatePalmCounting/Geoportal/Sensors/SensorReads/DD091999.csv with shape (8781, 30)
Processing file: /datawaha/esom/DatePalmCounting/Geoportal/Sensors/SensorReads/DD091538.csv with shape (8785, 31)
Processing file: /datawaha/esom/DatePalmCounting/Geoportal/Sensors/SensorReads/DD091645.csv with shape (8785, 30)

In [11]:
df = pd.read_csv(files[0])

In [12]:
df

,Date Time,V1,V2,A1(5),S1(5),T1(5),A2(15),S2(15),T2(15),A3(25),...,A7(65),S7(65),T7(65),A8(75),S8(75),T8(75),A9(85),S9(85),T9(85),A(all)
0,5/5/2025 9:30,10.687,-1.000,0.000167,4.041313,23.14999,0.018638,2.054137,23.51999,0.182295,...,0.001032,3.840961,24.07001,0.000037,5.024611,23.750000,0.032677,1.550021,23.570010,0.060183
1,5/5/2025 10:00,10.715,-1.000,0.000230,3.925071,22.95999,0.021322,1.936940,23.13000,0.198378,...,0.001322,3.693292,23.97000,0.000110,4.756988,23.679990,0.037663,1.459791,23.519990,0.063505
2,5/5/2025 10:30,10.715,-1.000,0.000085,4.354488,24.92001,0.020914,2.014781,24.60999,0.208771,...,0.001071,3.971395,25.41000,0.018511,2.742034,25.390010,0.000654,4.411229,25.470000,0.064018
3,5/5/2025 11:00,10.689,-1.000,0.000119,4.168191,23.32999,0.022831,1.932117,23.70999,0.255530,...,0.008247,2.835761,23.97000,0.123953,0.984126,23.340000,0.002187,3.540586,23.359990,0.088529
4,5/5/2025 11:30,11.308,-1.000,0.000015,6.454719,30.70999,0.030703,1.459580,28.20001,0.110627,...,0.023102,2.049198,29.78000,0.000000,9.998226,31.510010,0.001858,4.478043,32.139980,0.033790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,11/4/2025 7:00,11.567,-1.000,0.000000,2.694263,11.76001,0.000000,3.219390,11.01999,0.000000,...,0.027774,0.924590,10.01001,0.000819,2.225649,9.440002,0.000088,3.145962,9.329987,0.019894
8780,11/4/2025 7:30,11.593,-1.000,0.000000,2.720698,11.69000,0.000000,3.278900,11.34000,0.000000,...,0.029541,0.931469,11.38000,0.000757,2.369193,11.049990,0.000054,3.382716,10.940000,0.018803
8781,11/4/2025 8:00,11.620,-1.000,0.000000,2.765596,12.32999,0.000000,3.593442,12.66000,0.000000,...,0.024518,1.077504,13.42999,0.000310,2.796310,13.200010,0.000005,3.852723,13.019990,0.017148
8782,11/4/2025 8:30,11.632,-1.000,0.000000,3.117847,13.63000,0.000000,4.058141,14.44000,0.000000,...,0.017238,1.326015,15.91000,0.000028,3.447625,15.560000,0.000000,4.567640,15.429990,0.015446
8783,11/4/2025 9:00,11.640,11.561,0.000000,3.486825,15.10999,0.000000,4.619200,16.29001,0.000000,...,0.011646,1.622881,17.92001,0.000000,4.168314,17.609990,0.000000,5.349706,17.579990,NaN